body {
    background-color: #303030;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin: 0 !important; /*WYZEROWAC DOMYSLNE MARGINESY, !IMPORTANT LAMIE KASKADOWOSC*/
}
.wrapper
{
    width: 100%;
}
.header
{
    width: 100%;
    padding: 40px 0; /*WYPELNIENIE WEWNETRZNE. PIERWSZA WARTOSC TO WYPELNIENIE W PIONIE, A DRUGA W POZIOMIE*/
}
.logo {
    width: 450px;
    font-size: 48px;
    /*border: 1px solid #ffffff; TWORZY OBRAMOWANIE O GRUBOSCI 1 PIKSELA, LINIA CIAGLA I KOLORZE BIALYM*/
    margin-left: auto; /*OBA TE ZAPISY POZWALAJA ABY DIV BYL NA SRODKU*/
    margin-right: auto; /*OBA TE ZAPISY POZWALAJA ABY DIV BYL NA SRODKU*/
    text-align: center;
}
.nav {
    width: 100%;
    padding: 10px 0;
    background-color: #c34f4f;
    text-align: center;
    border-top: 1px solid #751b1b;
    border-bottom: 1px solid #751b1b;
}
.content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding-top: 10px;
}
.socials
{
    width: 100%;
    text-align: center;
    background-color: #292929;
}
.socialdivs
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.fb
{
    width: 250px;
    height: 155px;
    float: left;
}
.fb:hover
{
    background-color: #4668b3;
}
.yt
{
    width: 250px;
    height: 155px;
    float: left;
}
.yt:hover
{
    background-color: #d94348;
}
.tw
{
    width: 250px;
    height: 155px;
    float: left;
}
.tw:hover
{
    background-color: #3095d3;
}
.gplus
{
    width: 250px;
    height: 155px;
    float: left;
}
.gplus:hover
{
    background-color: #d95333;
}
.footer
{
    text-align: center;
    background-color: #222222;
    padding: 30px;
}
.sticky
{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100; /*GLEBIA, ZASLANIANIE SIE ELEMENTOW, IM WIEKSZE TYM WIECEJ ELEMENTOW ZASLONI*/
}
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block; /*KONKURENCJA DLA FLOAT:LEFT;*/
}
ol a
{
    color: #ffffff;
    text-decoration: none;
    display: block; /*ZACHOWUJE SIE JAK ELEMENT BLOKOWY, DAJE MOZLIWOSC USTALENIA ROZMIARU*/
}
ol > li
{
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px dashed #751b1b /*DODAJE KRESKOWANA LINIE MIEDZY ELEMENTAMI LISTY Z PRAWEJ STRONY*/

}
ol > li:first-child /*POZWALA DODAC KRESKOWANA LINIE ROWNIEZ Z LEWEJ STRONY PIERWSZEGO ELEMENTU*/
{
    border-left: 1px dashed #751b1b
}
ol > li:hover
{
    background-color: #cf6969;
}
ol > li:hover > a
{
    color: #451717;
}
ol > li > ul
{
    list-style-type: none; /*USUWA ZNACZNIKI PRZY ELEMENTACH LISTY*/
    padding: 0;
    margin: 0;
    height: 40px;
    display: none; /*UKRYWA WSZYSTKIE PODMENU*/
}
ol > li > ul > li
{
    background-color: #cf6969;
    position: relative; /*ELEMENTY LISTY WYSWIETLAJA SIE NA WIERZCHU*/
    z-index: 100; /*ZEBY ROZWIJANE MENU ZAKRYLO WSZYSTKO*/
    border-top: 1px dashed #751b1b;
}
    ol > li > ul > li:hover
    {
        background-color: #c34f4f;
    }
    ol > li > ul > li:hover > a
    {
        color: #451717;
    }
    ol > li:hover > ul
    {
        display: block; /*POKAZUJE PODMENU PRZY NAJECHANIU KURSOREM*/
    }
